{#
 # Passed in variables:
 #   members[]
 #       login                - string
 #       id                   - integer
 #       avatar_url           - string
 #       gravatar_id          - string
 #       url                  - string
 #       html_url             - string
 #       followers_url        - string
 #       following_url        - string
 #       gists_url            - string
 #       starred_url          - string
 #       subscriptions_url    - string
 #       organizations_url    - string
 #       repos_url            - string
 #       events_url           - string
 #       received_events_url  - string
 #       type                 - string
 #       site_admin           - boolean
 #
 # Extended info, available in members[] if 'true' was passed or from {{ set user = github_user(login) }}
 #       name                 - string
 #       company              - string
 #       blog                 - string
 #       location             - string
 #       email                - string
 #       hireable             - boolean
 #       bio                  - string
 #       public_repos         - integer
 #       public_gists         - integer
 #       followers            - integer
 #       following            - integer
 #       created_at           - string
 #       updated_at           - string
 #       private_gists        - integer
 #       total_private_repos  - integer
 #       owned_private_repos  - integer
 #       disk_usage           - integer
 #       collaborators        - integer
 #}

<div class="row">
{% for member in members %}
    <div class="small-4 columns">
        <div class="row">
            <div class="small-12 columns">
                <img alt="{{ member.name|default(member.login) }}" src="{{ member.avatar_url|default('') }}" style="width: 100px; height: 100px;">
            </div>
            <div class="small-12 columns">
                <a href="{{ member.html_url|default('') }}" target="_blank">{{ member.name|default(member.login) }}</a>
            </div>
        </div>
    </div>
{% endfor %}
</div>